<h2>My Heroes</h2>
<ul class = "heroes">
    <li *ngFor="let hero of heroes">
        <!-- 
            need to put the first forward slash here because
            currently the path is /heroes, but we want to get to
            /detail/heroid. if we don't put the beginning forward slash,
            we'd go to heroes/detail/heroid
        -->
        <a routerLink="/detail/{{hero.id}}">
            <span class = "badge">{{hero.id}} </span>
            <span class = "name">{{hero.name}}</span>
        </a>
    </li>
</ul>